<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
      <a class="navbar-brand" href="#">School Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end md-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Registrar</a></li>
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item"[routerLink]= "['cambiar']">Cambiar Contraseña</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>

          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion de Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Crear Nuevo Usuario</a></li>
              <li><a class="dropdown-item" [routerLink]= "['gestionar-actualizar-i']">Actualizar</a></li>
              <li><a class="dropdown-item" [routerLink]= "['gestion-borrar']"> Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Calificaciones</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Matriculas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/gestion-matricula">Registrar</a></li>
              <li><a class="dropdown-item" >Actualizar</a></li>
              <li><a class="dropdown-item" routerLink="/gestion-consultas">Consultar</a></li>
              <li><a class="dropdown-item" href="#">Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" >Reporte</a>
          </li>
        </ul>
           </div>
    
  </nav>

  <body>
    <div>
        <img src=".\assets\Imagenes\logo.png" alt="" width="10%">
    
    </div>
</body>