<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Perfil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cambio de contraseña</li>
    </ol>
  </nav>


<h5>Cambio de contraseña</h5>

<h6>La contraseña debere tener al menos 8 caracteres, al menos 1 número, al menos 1 letra minúscula, al menos 1 letra mayúscula, al menos 1 caracter no alfanuméricos como *,-, o # </h6>
<div class="container">

  
    <form>
   
    <div class="mb-3">
      <label for="" class="form-label">Contraseña Actual</label>
      <input type="password" class="form-control" id=""  required>
    </div>

    

    <div class="mb-3">
        <label for="" class="form-label">Nueva contraseña</label>
        <input type="password" class="form-control" id="" aria-describedby="">
      </div>


    <div class="mb-3">
        <label for="" class="form-label">Vuelve a escribir tu contraseña nueva.</label>
        <input type="password" class="form-control" id="" aria-describedby=""  required>
      </div>
    
      <input class="btn btn-primary btn-lg" type="button" value="Enviar">
  </form>
</div>