nav{
    margin-top: 3rem;
    margin-left: 2rem;
}

h5{
    margin-top: 3rem;
    margin-left: 3rem;
    color: green;
}

h6{
    margin-top: 1rem;
    margin-left: 3rem;

}
form{
    margin-top: 3rem;
}