<div class="container mt-3">
    <div class="col-md-3">
        <img src=".\assets\imagenes\logo.png" alt="" width="30%">
    </div>
</div>
<hr class="py-2">
<div class="container-lg bg-light">
    <div class="col-md-12">
        <div class="card bg-light mt-12 p-5 border-dark" style=" height: 30rem;">
            <div class="card mt-md-12 " style=" height: 25rem;">
                <div class="col-md-12 mt-3 mb-3">
                    <div class="row">
                        <div class="form-floating col-md-6">
                            <select class="form-select" id="form-floating">
                                <option selected>Seleccionar un grado</option>
                                <option value="">1º</option>
                                <option value="">2º</option>
                                <option value="">3º</option>
                                <option value="">4º</option>
                                <option value="">5º</option>
                                <option value="">6º</option>
                                <option value="">7º</option>
                                <option value="">8º</option>
                                <option value="">9º</option>
                                <option value="">10º</option>
                                <option value="">11º</option>
                            </select>
                        <label class="form">Grado:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                    <select class="form-select" id="form-floating">
                                        <option selected>Selecciona un Período </option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                        <label class="form">Período:</label>
                            </div>       
                        </div>
                        <div class="d-grid gap-2 col-12 justify-content-center">
                            <button class="btn btn-primary" type="button">Buscar</button>
                        </div>
                    </div>
                    <div class="col">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Periodo</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                              </tr>
                             <tr>
                              <th scope="row">4</th>
                              <td colspan="2"></td>
                              <td></td>
                              <td></td>
                              <td></td>
                             </tr>
                            </tbody>
                          </table>

                    </div>
                    
                </div>
                
            </div>

        </div>

    </div>

</div>


