nav{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
   font-size: small 
}
h5{
    margin-top: 3rem;
    margin-left: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{

    margin-top: 3rem;
    margin-left: 5rem;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
   margin-left: 10;
   background-color: rgb(35, 95, 185);
   color: rgb(245, 245, 245)
}

.button:hover{
    background-color: rgb(255, 255, 255);
    color: blue;
}