<div class="container" > 
    <div class="col-md-3"> 
        <img src=".\assets\imagenes\logo.png" alt="" width="30%">

    </div>
</div>
<hr class="py-2">
<div class="container bg-light mt-md-5">
    <div class="col-md-4 justify-content-center align-items-md-center">
        
          <img src=".\assets\imagenes\muñequita.png" alt=""width="50%">
        

    </div>
    <div class="col-md-8">
       <label for="">   Seleccione el reporte que deseas generar </label>
       <a routerLink="/listadecursos"> <h3> LISTADO DE ESTUDIANTES POR CURSO </h3></a>
        <a routerLink="/boletines"> <h3> BOLETIN DEL ESTUDIANTE </h3></a>

    </div>


</div>

