<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/pagina_principal">School Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/Editar_perfil">Editar</a></li>
              <li><a class="dropdown-item" routerLink="/cambiar_usuario">Cambiar Contraseña</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
  
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion de Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/nuevo_usuario">Crear Nuevo Usuario</a></li>
              <li><a class="dropdown-item" routerLink="/actualizar_usuario">Actualizar</a></li>
              <li><a class="dropdown-item" routerLink="/borrar_usuario">Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/gestionar_calificaciones">Calificaciones</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Matrículas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/gestion-matricula">Registrar</a></li>
              <li><a class="dropdown-item" routerLink="/gestion-actualizar" > Actualizar</a></li>
              <li><a class="dropdown-item" routerLink="/gestion-consultas">Consultar</a></li>
              <li><a class="dropdown-item" routerLink="/gestion-eliminar">Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/gestion_reporte">Reportes</a>
            </li>
  
           
          
        </ul>
        <form class="d-flex">
          
        
        </form>
      </div>
    </div>
  
   
  </nav>
  
  <img src=".\assets\imagenes\logo.png" alt="" width="10%">
  
  
  
  <body class="plce-in">
   
  </body>
  
    <hr size="20px" width="100%" >
  
    
    

<hr class="py-1">
<div class="container rounded bg-light mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src=".\assets\imagenes\fotoperfil.jpg" alt="" width="150" height="160">
                <span class="text fw-bolder fs-4">Adminisrador</span>
                <span><a href="#" class="link-primary">imagen</a></span>
                                
            </div>
        </div>
        <div class="col-md-8 border">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Detalles de usuario</h4>
                </div>
            <div class="row mt-2">
                <div class="col-md-6"> <label class="form">Nombre:</label><input type="text" class="form-control" placeholder="Nombres" value=""> </div>
                <div class="col-md-6"><label class="form">Apellido:</label><input type="text" class="form-control" placeholder="Apellidos" value=""></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12"> <label class="form">Telefono:</label><input type="text" class="form-control" placeholder="Telefono/Celular" value=""></div>
                <div class="col-md-12"> <label class="form">Dirección:</label><input type="text" class="form-control" placeholder="Dirección de residencia" value=""></div>
                <div class="col-md-12"> <label class="form">Correo:</label><input type="text" class="form-control" placeholder="Correo electronico" value=""></div>
                <div class="col-md-12"> <label class="form">Area:</label><input type="text" class="form-control" placeholder="Expecifique el area de trabajo" value=""></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-6"> <label class="form">Ciudad:</label><input type="text" class="form-control" placeholder="Ciudad" value=""></div>
                <div class="col-md-6"><label class="form">Región</label><input type="text" class="form-control" placeholder="Región" value=""></div>
            </div>
            </div>
        </div>
    </div>
    <div class="d-md-flex justify-content-md-end">
        <a href=""><button class="btn-lg mt-2 mb-2 " type="button">Guardar</button>
        </a>
        <a href=""><button class="btn-lg mt-2 mb-2 " type="button">Cancelar</button>
        </a>
    </div>

</div>
<div class="container rounded bg-light mb-5 mt-5" >
    

</div>