<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Gestión de usuarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Borrar información</li>
    </ol>
  </nav>

<h5>Borrar información de usuarios </h5>

<div class="container" >

  <div class="card" style=" height: 25rem;" >
      <div class="card-body">
        <form class="form-label col-md-6">
   
          <div class="mb-3">
            <label for="" class="form-label">Código de usuario</label>
            <input type="" class="form-control mb-6" id=""  required>
              <div id="" class="form-text"> *Para borrar cualquier usuario ingrese  el código que se le asignó para esta plataforma.
              </div>
          </div>
        <div>
          <button type="button" class="btn btn-primary btn-lg">Buscar</button>
    
        </div>
      </form>
    </div>
  </div>
  <div class="d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary btn-lg mt-md-3 mb-3">Borrar</button>
  </div>
  
</div>