nav{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
   font-size: small 
}
h5{
    margin-top: 3rem;
    margin-left: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 136, 28);
}
